*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: -10%;
}

body{
    background-color: #1c1942;
}

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, #ff7f5f, #feb47b);
    
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .menu-content {
    padding: 20px;
  }
  
  .menu-content a {
    display: block;
    color: rgba(255, 255, 255, 0.753);
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 0.5rem 0rem;
    margin-left: 1rem;
    font-size: 14px;
    letter-spacing: 0.1rem;
  }
  
  .close-btn {
    position: absolute;
    top: 45px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    padding: 0.2rem 0.7rem;
    border-radius: 10rem;
    
  }
  
  .open-btn {
    position: absolute;
    top: 3rem;
    right: 10px;
    padding: 0.7rem 1rem;
    z-index: 999;
    background-color: transparent;
    color: #074173;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

.menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    background-color: transparent;
  }
  
  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1679AB;
    z-index: 998;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* @media only screen and (min-width: 1024px){
    .mobile{
        display: none;
    }
    .mobile-why-choose-us{
        display: none;
    }
    .mobile-search-bar{
        display: none;
    }
    .menu-bar{
        display: none;
    }
    .open-btn{
        display: none;
    }

    .mobile-topselling{
        display: none;
    }

    .menu-container{
        display: none;
    }
  }
   */
  .menu ul li {
    margin-bottom: 20px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }

  .logo{
    font-size: 20px;
    color: #F5936F;
    margin-left: 1rem;
  }

  .logo img{
    width: 8rem;
  }

  nav{
    display: flex;
  }

  .form{
    text-align: center;
    margin-top: 20%;
    padding: 0rem 1.5rem;
  }

  form{
    padding: 3rem 2rem;
    border-radius: 16px;
    background: linear-gradient(90deg, #ff7f5f, #feb47bbd);
  }

  form input{
    padding: 0.5rem;
    border-radius: 1rem;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.377);
    border-style: none;
    padding: 0.7rem;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 0.2rem;
  }

  form h3{
    color: white;
  }

  form button{
    width: 50%;
    font-weight: bold;
    color: #1c1942;
    font-size: 15px;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border-style: none;
    background: linear-gradient(90deg, #f5f5fd, #feb47b);
  }

  form button:hover{
    width: 60%;
    background: linear-gradient(90deg, #1c1942, #171170);
    color: white;
  }

  .sub-text{
    font-size: 14px;
    color: white;
  }

  .sub-text a{
    color: #1c1942;
    font-weight: bold;
    text-decoration: none;
  }