*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: -10%;
}

body{
    background-color: #1c194209;
}


.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
  }
  
  .menu-content {
    padding: 20px;
  }
  
  .menu-content a {
    display: block;
    color: rgba(255, 255, 255, 0.753);
    letter-spacing: 0.1rem;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 0.5rem 0rem;
    margin-left: 1rem;
    font-size: 14px;
  }
  
  .close-btn {
    position: absolute;
    top: 45px;
    right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    padding: 0.2rem 0.7rem;
    border-radius: 10rem;
    
  }
  
  .open-btn {
    position: absolute;
    top: 3rem;
    right: 10px;
    padding: 0.7rem 1rem;
    z-index: 999;
    background-color: transparent;
    color: #074173;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

.menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
  }
  
  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1679AB;
    z-index: 998;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* @media only screen and (min-width: 1024px){
    .mobile{
        display: none;
    }
    .mobile-why-choose-us{
        display: none;
    }
    .mobile-search-bar{
        display: none;
    }
    .menu-bar{
        display: none;
    }
    .open-btn{
        display: none;
    }

    .mobile-topselling{
        display: none;
    }

    .menu-container{
        display: none;
    }
  }
   */
  .menu ul li {
    margin-bottom: 20px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }

  .logo{
    font-size: 20px;
    color: #F5936F;
    margin-left: 1rem;
  }

  .logo img{
    width: 8rem;
  }

  nav{
    display: flex;
  }

  .mobile-search-bar{
    text-align: center;
  }

  .mobile-search-bar input{
    width: 90%;
    padding: 0.5rem;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.267);
    color: #2a285c;
    text-align: center;
  }


  .carousel {
    width: 100%;
    margin: auto;
    overflow: hidden;
    /* position: relative; */
    margin-bottom: -3.5rem;
}

/* Carousel slides */
.carousel img {
    width: 100%;
    display: none;

}

/* Show the first slide by default */
.carousel img:first-child {
    display: block;
}


.call-to-action{
    padding: 0.5rem 1rem;
    text-align: center;
}

.call-to-action button{
    width: 50%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.822);
    font-size: 15px;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border-style: none;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
}

.call-to-action button:hover{
    width: 80%;
    transition: 0.2s ease;
}


.guide{
    text-align: center;
    padding: 2rem;
}

.guide-tabs{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.guide-tabs .tab1{
    border-style: solid;
    border-color: rgba(112, 88, 61, 0.199);
    border-width: 1px;
    margin-bottom: 20px;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    font-size: 13px;
    background-color: white;
    color: #2a285c;
    
}

.guide-tabs .tab1 p{
    text-align: left;
}

.guide-tabs .tab1 button{
    font-weight: bold;
    width: 50%;
    padding: 0.5rem 0rem;
    border-radius: 15px;
    border-style: none;
    
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
}

.guide-tabs .tab1 button:hover{
    background-color: rgb(211, 211, 211);
    width: 60%;
}

.guide-tabs .tab2 button{
    font-weight: bold;
    width: 50%;
    padding: 0.5rem 0rem;
    border-radius: 15px;
    border-style: none;
    
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
}

.guide-tabs .tab2 button:hover{
    background-color: rgb(211, 211, 211);
    width: 60%;
}

.guide-tabs .tab2{
    border-style: solid;
    border-color: rgba(112, 88, 61, 0.199);
    border-width: 1px;
    margin-bottom: 20px;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    font-size: 13px;
    color: #2a285c;
    background-color: white;
}

.guide-tabs .tab1 h3{
    color: rgb(19, 19, 19);
}

.guide-tabs .tab2 h3{
    color: rgb(19, 19, 19);
}



.guide-tabs img{
    width: 40%;
    margin-left: 3px;
}

@media only screen and (max-width: 867px){
    .guide-tabs{
        display: flex;
        flex-direction: column;
    }
}


footer{
    background: linear-gradient(90deg, #ff7e5f, #3e3979);
    padding: 1.5rem 1.5rem;
    color: rgba(255, 255, 255, 0.692);
    font-size: 13px;
}

footer textarea{
    width: 80%;
    height: 5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.404);
    color: #1c1942;
}

.advert{
    background-color: #1c194209;
    padding: 1rem 1.5rem;
}

.hothead{
    
}

.hothead-tabs{
    padding: 1rem;
    background-color: white;
    display: flex;
    gap: 2rem;
    border-radius: 15px;
    font-size: 12px
}

.hothead-tabs .image{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(90deg, #41c569, #24803f);
    border-radius: 20rem;
    color: white;
    padding: 1.5rem ;
}

.description h4{
    color: #1c1942;
}

.description h5{
    color: green;
}

.description button{
    padding: 0.5rem 1rem;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border-radius: 10rem;
    border-style: none;
    width: 100%;
    font-size: 12px;
}

.footer2{
    background-color: #1c1942;
    background: linear-gradient(90deg, #1c1942, #3b3586);
    color: rgba(255, 255, 255, 0.829);
    padding: 1rem 1.5em;
    font-size: 13px;
}