*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: -10%;
}


@media only screen and (max-width: 767px) {
    .mobile-search-bar{
        display: block;
        text-align: center;
    }

    .mobile-search-bar input{
        padding: 0.4rem 1rem;
        width: 100%;
        border-radius: 5px;
        border-style: 1px solid ;
        border-color: #074173;
    }
    
    .hero-image-desktop img{
       display: none;
    }

    .ts{
        display: grid;
        text-align: center;
    }
}


.mobile-search-bar{
    text-align: center;
    padding: 1rem 0.8rem;
    display: flex;
    justify-content: space-between;
}

.mobile-search-bar input{

    color: #074173;
    font-weight: bold;
    padding: 0.4rem 1rem;
        width: 87%;
        height: 2.6rem;
        border-radius: 25px;
        border-style: none;
        box-shadow: 2px 0px 7px #3498db46;
}

.mobile-search-bar .cart img{
    width: 1.7rem;
    padding: 0.5rem 0rem;
    margin-bottom: ;
}



@media only screen and (max-width: 767px){
    .item-body{
        padding: 1rem 7%;
        background-color: #cbe5fc;
    }

    .items-tab{
        width: 90%;
        background-color: white;
        border-radius: 15px;
        padding: 1rem;
        text-align: center;
    }

    .items-tab .sep{
        width: 100%;
        margin-top: 1rem;
        font-size: 12px;
    }

    .items-tab .sep img{
        width: 9rem;
        height: 7rem;
    }

    .items-tab .sep p{
        text-align: left;
    }
    .items-tab .sep h3{
        text-align: left;
        font-weight: 300;
    }

    .items-tab .sep .price{
        font-size: 13px;
    }

    .items-tab .sep button{
        width: 100%;
        background-color: #0D7BD9;
        color: white;
        padding: 0.5rem 1.5rem;
        border-radius: 10px;
        font-weight: bold;
        border-style: none;
        margin-top: 1rem;
    }

    .items-tab .sep button:hover{
        background-color: #E8C872;

    }
}

/* Style for item pairs */
.item-pair {
    display: flex; /* Use flexbox to arrange items in a row */
    justify-content: space-between;
    gap: 10%; /* Space items evenly within the row */
    margin-bottom: 20px; /* Add some margin between each pair of items */
}

/* Style for individual item */
.sep {
    width: calc(50% - 10px); /* Set width of each item to occupy half of the container width */
    /* You can adjust the width and other styles as needed */
}

/* Responsive styling */
@media (max-width: 768px) {
    .item-pair {
        flex-direction: row;
         /* Switch to a column layout on smaller screens */
    }

    .sep {
        width: 100%; /* Set width to full for each item on smaller screens */
    }
}

@media only screen and (min-width: 1024px){

}



.cart{
    display: flex;
    flex-direction: column;
}

.cart span{
    color: #E8C872;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 20rem; 
    padding: 0.1rem 0.4rem;
    margin-bottom: -1rem;
}



.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     /* Distribute items evenly across the container */
}

.product-pair {
    display: flex;
    width: 49%; /* Each product pair takes up almost half of the container width with a small gap */
    margin-bottom: 20px; /* Adjust as needed */
}

.product {
    width: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
    /* border: 1px solid #ddd; /* Optional: Add a border to each product for better separation */
    /* border-right: none; */ 
    border-style: none;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.product img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.product h3 {
    margin-top: 0;
}

.product p {
    margin: 5px 0;
}

  #backToTopBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #181818a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.8rem ;
    font-size: 16px;
    border-radius: 20rem;
    transition: opacity 0.3s, visibility 0.3s;
  }

  #backToTopBtn.show {
    display: block;
  }

  .product-container .product button{
    width: 100%;
    background-color: #0D7BD9;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    border-style: none;
    margin-top: 1rem;
}


  @media only screen and (max-width: 767px){
    .item-body{
        padding: 1rem 7%;
        background-color: #cbe5fc;
    }

    .product-container{
        width: 90%;
        background-color: white;
        border-radius: 15px;
        padding: 1rem;
        text-align: center;
    }

    .product-container .product{
        width: 100%;
        margin-top: 1rem;
        font-size: 12px;
        line-height: 1rem;
    }

    .product-container .product img{
        width: 9rem;
        height: 7rem;
    }

    .product-container .product p{
        text-align: left;
    }
    .product-container .product h3{
        text-align: left;
        font-weight: 300;
    }

    .product-container .product .price{
        font-size: 13px;
    }

    .product-container .product button{
        width: 100%;
        background-color: #0D7BD9;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        font-weight: bold;
        border-style: none;
        margin-top: 1rem;
    }

    .product-container .product button:hover{
        background-color: #E8C872;

    }
}

.bottom-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(200deg, #0043a7 0.9%, #0D7BD9 40.96%);
    padding: 10px 0; 
    text-align: center;
    height: 1.5rem;
  }

  .bottom-menu a img{
    width: 1.1rem;
    margin-top: 5px ;
  }
  
  .bottom-menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 2rem;
  }
