*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: -10%;
    color: #0043a7;
}

body{

}

@media only screen and (max-width: 767px){
    .form{
        text-align: center;
        padding: 1rem 0rem;
        margin-top: 2rem;
        width: 100%;

    }

    form{
        padding: 1rem 0;
    }

    form input{
        width: 100%;
        height: 2.6rem;
        padding: 0rem 0.8rem;
        border-radius: 25px;
        margin-bottom: 1rem;
        border-style: none;
        background-color: #46a4f71e;
    }
    .logo img{
        width: 9rem;
        padding: 1.5rem 7%;
    }

    .logo{
      background-color: white;
    }
}










@media only screen and (min-width: 1024px){
    .form{
        text-align: center;
        padding: 1rem 0rem;
        margin-top: 2rem;
        width: 100%;
    }
    
    form{
        padding: 1rem 7%;
    }
    
    form input{
        height: 2.6rem;
        padding: 0rem 0.8rem;
        border-radius: 25px;
        margin-bottom: 1rem;
        width: 50%;
        border-style: none;
        background-color: #46a4f71e;
    }
    .logo img{
        width: 9rem;
        padding: 1.5rem 7%;
    }

    .logo{
      background-color: white;
    }
}

.logo{
      background-color: white;
    }


  .form{
        text-align: center;
        padding: 1rem 0rem;
        margin-top: 4rem;
        width: 100%;
    }
    
    form{
        padding: 1rem 7%;
    }
    
    form input{
        height: 2.6rem;
        padding: 0rem 0.8rem;
        border-radius: 25px;
        margin-bottom: 1rem;
        width: 90%;
        border-style: none;
        background-color: #46a4f71e;
    }

    form button{
      padding: 0.6rem 1.5rem;
      width: 80%;
      background-color: #0043a7;
      border-radius: 20rem;
      border-style: none;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.171);
      color: white;
    }

    form button:hover{
      background-color: white;
      color: #0043a7;
      padding: 0.6rem 2rem;
      transition: 0.2s ease-in;
    }

form p{
  font-size: 12px;
}

form p a{
  font-size: 15px;
  font-weight: bold;
}


.menu-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snapping to each image */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    width: calc(100vw - 40px); /* Set container width to accommodate 5 images */
    margin: 0px; /* Add margin for spacing */
    width: 100%;
    color: #074173;
    background-color: white;
  }
  .menu-item {
    scroll-snap-align: start; /* Snap to the start of each image */
    flex: 0 0 calc(30vw - 8px); /* Set width of each image (20% of viewport width) */
    margin-right: 10px; /* Add margin for spacing between images */
    text-align: center;
    color: #074173;
    font-size: 85%;
    font-weight: bold;
    width: 100%;
  }
  .menu-item:last-child {
    margin-right: 0; /* Remove margin from the last image */
  }
  .menu-item img {
    width: 100%; /* Make images fill their parent container */
    height: auto;
    border-radius: 20rem;
    background-color: rgb(225, 255, 255);
  }




.bottom-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(200deg, #0043a7 0.9%, #0D7BD9 40.96%);
    padding: 10px 0; 
    text-align: center;
    height: 2rem;
  }

  .bottom-menu a img{
    width: 1.5rem;
    margin-top: 5px ;
  }
  
  .bottom-menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 2rem;
    
  }

  .background{

  }